

{{ form_start(form) }}

<div class="form-control">
    {{ form_row(form.name) }}
    {{ form_row(form.price) }}
    {{ form_row(form.categorie) }}


    <h3>Tags</h3>
    <ul class="tags">

        {% for tag in {{ form_row(form.tags) }} %}
            <li>{{ form_row(tag.name) }}</li>
        {% endfor %}
    </ul>



</div>


<button type="submit" class="btn btn-primary"> Save</button>


{{ form_end(form) }}



